@media only screen and (max-width: 999px) {
    .icons{
        display: block !important;
    }
 .loginstyle{
    display: block !important;
 }   
 .loginstyle h5{
    margin-top: 20px !important;
 }
 .admin{
  margin-top: -50px !important;
 }
  .med{
        margin-left: 100px !important;  
    }
    .create{
        margin-left: 50px !important;
    }
}
@media only screen and (max-width: 499px) {
    .create{
        background-color: white !important;
    }
    .med{
        margin-left: -450px !important;
    }
    .admin{
        display: none !important;
    }
}