body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.backg {
  background-color: rgb(33, 37, 41);
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.97),
    rgba(236, 234, 234, 0.97)
  );
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: fill;
}
.reg {
  background-color: rgba(0, 0, 0, 0);
  background-size: cover;
  color: rgb(33, 37, 41);
  background-image: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.97),
    rgba(236, 234, 234, 0.97)
  );
  border: 2px rgba(236, 234, 234, 0.97) solid !important;
  box-shadow: rgb(184, 184, 184) 6px 6px 23px 6px !important;
}
.bdl {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid green;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 0%;
}
.wave {
  /* width: 100%; */
  height: 800px;
  /* background: url('wave.svg') repeat-x bottom; */
  position: relative;
  right: 100px;
}
@font-face {
  font-family: emirates;
  src: url(./multimedia/Emirates-Bold.ttf);
}
.cover {
  position: absolute;
  z-index: -1;
  font-family: emirates;
}
.dashhead{
  font-family: emirates;
}
.txt {
  position: absolute;
  margin-left: 100px;
  margin-top: 120px;
  max-width: 450px;
}
.txt p {
  font-size: 22px;
  max-width: 340px;
}
.firstImg {
  border-radius: 50%;
  width: 400px;
  height: 400px;
  position: absolute;
  object-fit: fill;
  margin-left: 850px;
  margin-top: 100px;
  border-style: outset;
  border-color: limegreen;
}
.grid {
  display: grid;
  padding: 10rem;
  gap: 5rem;
  position: absolute;
  top: 50px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(2, 500px);
  position: relative;
  top: 400px;
  font-family: emirates;
}
.grid0 {
  border: 1px solid lightgrey;
  border-radius: 15px;
  box-shadow: 2px 2px 2px 2px lightgray;
}
.grid0 img {
  position: relative;
  width: 300px;
  height: 300px;
  object-fit: fill;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}
.grid0 h2 {
  position: relative;
  top: 10px;
  left: 10px;
font-family: emirates;
  color: limegreen;
}
.grid p {
  position: relative;
  top: 10px;
  left: 10px;
  line-height: 25px;
font-family: emirates;
  max-width: 250px !important;
}
.grid h5 {
  position: relative;
  left: 10px;
font-family: emirates;
  color: orangered;
}
.debit {
  position: relative;
  top: 350px;
  display: inline-flex;
  text-align: justify;
}
.debit img {
  position: relative;
  border: 1px solid limegreen;
  border-radius: 50%;
  width: 450px;
  height: 400px;
  object-fit: fill;
  left: 100px;
}
.debit h1 {
  position: relative;
  margin-left: 200px;
  top: 50px;
font-family: emirates;
  color: limegreen;
}
.diva {
  min-width: 675px !important;
}
.debit p {
  position: relative;
  top: 200px;
  right: 470px;
  min-width: 400px;
font-family: emirates;
  line-height: 30px;
}
.counter {
  position: relative;
  top: 450px;
  display: inline-flex;
  text-align: justify;
}
.counter img {
  position: relative;
  border: 1px solid limegreen;
  border-radius: 50%;
  width: 450px;
  height: 400px;
  object-fit: fill;
  left: 100px;
}
.counter h1 {
  position: relative;
  margin-left: 200px;
  top: 50px;
font-family: emirates;
  color: limegreen;
}
.counter p {
  position: relative;
  top: 200px;
  right: 470px;
  min-width: 400px;
font-family: emirates;
  line-height: 30px;
}
.pension {
  position: relative;
  top: 550px;
  display: inline-flex;
  text-align: justify;
}
.pension img {
  position: relative;
  border: 1px solid limegreen;
  border-radius: 50%;
  width: 450px;
  height: 400px;
  object-fit: fill;
  left: 100px;
}
.pension h1 {
  position: relative;
  margin-left: 200px;
  top: 50px;
font-family: emirates;
  color: limegreen;
}
.pension p {
  position: relative;
  top: 200px;
  right: 470px;
  min-width: 400px;
font-family: emirates;
  line-height: 30px;
}
.secure {
  position: relative;
  top: 650px;
  display: inline-flex;
  text-align: justify;
}
.secure img {
  position: relative;
  width: 450px;
  height: 400px;
  object-fit: fill;
  left: 150px;
}
.secure h1 {
  position: relative;
  margin-left: 200px;
  top: 100px;
font-family: emirates;
  color: limegreen;
}
.secure p {
  position: relative;
  top: 150px;
  right: 470px;
  min-width: 400px;
font-family: emirates;
  line-height: 30px;
}
.foot {
  position: relative;
  top: 700px;
}
.era {
  /* background: linear-gradient(
      rgba(176, 245, 179, 0.8),
      rgba(155, 241, 128, 0.5),
      rgba(109, 240, 97, 0.2)
    ),
    url(""); */
  background-size: auto;
  background-repeat: no-repeat;
  object-fit: fill;
  font-family: emirates;
}
@font-face {
  font-family: emirates;
  src: url(./multimedia/Emirates-Bold.ttf);
}
.admin {
  position: relative;
  width: 200px;
  height: 700px;
  text-align: center;
  font-family: emirates;
  margin-top: 100px;
}
.loginstyle{
  display: flex;
  color: green;
  list-style: none;
  text-decoration: none;
}
.loginstyle a{
  list-style: none;
  text-decoration: none;
}
.newevent {
  font-family: emirates;
  height: 300px;
  overflow: hidden;
  cursor: pointer;
  background-image: url("../src/multimedia/video-for-event-marketing.jpg");
}
.newevent h1 {
  margin-top: 50px;
  margin-left: 400px;
  white-space: nowrap;
  animation: create 10s linear 2s infinite;
}
@keyframes create {
  0% {
    transform: translateX(400px); /* Start from the right */
  }
  25% {
    transform: translateX(-350px); /* Stay in the center for 3s */
  }
  50% {
    transform: translateX(-350px); /* Stay in the center */
  }
  100% {
    transform: translateX(-800px); /* Disappear to the left */
  }
}
.newevent p {
  max-width: 300px;
  animation-name: create2;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-delay: 5s;
  animation-timing-function: linear;
}
@keyframes create2 {
  0% {
    transform: none;
  }
  25% {
    transform: skewX(180deg);
  }
  40% {
    transform: none;
  }
  50% {
    transform: none;
  }
  70% {
    transform: none;
  }
  90% {
    transform: none;
  }
  100% {
    animation-play-state: paused !important;
  }
}
.addcounter {
  height: 300px;
  background-image: url("../src/multimedia/ushers.jpg");
  object-fit: fill;
  background-position: center;
  background-size: cover;
  overflow: hidden;
  font-family: emirates;
}
.addcounter h1 {
  margin-top: 70px;
  margin-left: 400px;
  white-space: nowrap;
  animation: create 10s linear 2s infinite;
}
.addcounter p {
  max-width: 300px;
  animation-name: create2;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-delay: 5s;
  animation-timing-function: linear;
}
.myevents {
  height: 310px;
  background-image: url("../src/multimedia/event33.jpg");
  object-fit: fill;
  background-position: center;
  background-size: cover;
  overflow: hidden;
  font-family: emirates;
}
.myevents h1 {
  margin-top: 70px;
  margin-left: 400px;
  white-space: nowrap;
  animation: create 10s linear 2s infinite;
}
.myevents p {
  max-width: 300px;
  animation-name: create2;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-delay: 5s;
  animation-timing-function: linear;
}
.adminbod {
  background-color: rgb(22, 158, 22);
  width: 100%;
  height: 700px;
}

.create-two {
  background: lightgreen;
  overflow-x: hidden;
  overflow-y: scroll;
  width: 1000px;
  height: 910px;
  overflow-y: scroll;
}
.num {
  position: absolute;
  color: green;
  margin-top: 14px;
  margin-left: 20px;
  font-weight: 900;
  font-family: Arial, Helvetica, sans-serif;
  height: 25px;
  border-radius: 50%;
  background-color: white;
  padding: 7px;
  align-items: center;
  align-self: center;
  justify-self: center;
  /* text-align: center; */
}
.num p{
  position: relative;
  margin-top: -6px;
}